<% include partials/header %>


<div class="container">
    <h2 class="center-align">Edit
        <%=foundArticle.title%>
    </h2>
    <div class="row">

        <form action="/blog/<%= foundArticle._id %>?_method=PUT" method="POST">
            <div class="row">
                <div class="input-field">
                    <input name="foundArticle[title]" id="text" type="text" class="validate" value="<%=foundArticle.title%>"
                        data-length="100">
                    <label for="title">Title</label>

                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input name="foundArticle[author]" type="text" class="validate" value="<%=foundArticle.author%>">
                    <label for="author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="foundArticle[content]" class="materialize-textarea"><%=foundArticle.content%></textarea>
                        <label for="textarea1">Content</label>
                        <span class="helper-text" data-error="wrong" data-success="right">copy and paste</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input name="foundArticle[image]" type="text" class="validate" value="<%=foundArticle.image%>">
                    <label for="image">Image url</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Right click on image and select
                        "Copy image location"</span>
                </div>
                <p>
                    <label>
                        <input type="checkbox" required />
                        <span>I understand that the admin retains the right to request an edit or remove this post at
                            any time</span>
                    </label>
                </p>
                <div class="center-align">
                    <input class="btn grey darken-4" type="submit" value="Update Post">
                </div>
            </div>

    </div>
    </form>
</div>
</div>
<a href="/blog"> Go back</a>
<% include partials/footer %>