<% include partials/header %>
<header id="join">
    <section class="row valign-wrapper" id="bg">
        <div class="col l6 m12 center-align white-text" id="join-text">
            <h1>Welcome to the <br>HoloBoard </h1>
            <p>A blog site dedicated to fans of the Star wars and the game of Galaxy of heroes</p>
            <a href="#" class="waves-effect waves-light btn grey darken-4">Learn more</a>
            <a href="#" class="waves-effect waves-light btn grey darken-4">download the game</a>
        </div>
        <div class="col l6 m12 hide-on-med-and-down">
            <iframe src="https://www.youtube.com/embed/auqoZNbQ52o" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>
</header>
<main class="container">



    <section class="center-align" id="newPostButton">
        <a href="/blog/new" class="waves-effect waves-light btn grey darken-4">Add New Post</a>
    </section>

    <section class="row">
        <hr>
        <div class="col m8 s12" id="column1">
            <h3>Our Stories:</h3>
            <div id="scroll">
                <% allArticles.forEach(function(article){ %>
                <article class="row">
                    <div class="col l7 m12">
                        <a class="articleText" href="/blog/<%= article._id %>">
                            <%= article.title %>
                        </a>
                        <p class="truncate">
                            <%= article.content %>
                        </p>

                        <img class="circle" style="width: 30px;"
                            src="https://swgoh.gg/static/img/assets/tex.charui_thrawn.png">
                        <span class="author">
                            <%= article.author %>
                        </span>

                        <p>1/30/19</p>
                    </div>
                    <div class="col l4 m12">
                        <img class="responsive-img" src="<%= article.image %>">
                        <p><a href="/blog/<%= article._id %>" class="waves-effect waves-light btn grey darken-4">read
                                more</a></p>
                    </div>

                </article>
                <% }); %>
            </div>
            <div class="left-align">
                <a href="/blog/all">Show All >></a>
            </div>
        </div>

        <div class="col m4 sm12 container" id="column2">
            <div id="twitter">
                <a class="twitter-timeline" href="https://twitter.com/EAStarWars?ref_src=twsrc%5Etfw"
                    data-height="550">Tweets by EAStarWars</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <h5>Need more?</h5>
            <hr>
            <ul>
                <li><span>01</span> <a href="https://forums.galaxy-of-heroes.starwars.ea.com/" target="_blank">EA
                        official Galaxy of
                        Heroes Forums</a></li>
                <li><span>02</span> <a href="https://swgoh.gg/" target="_blank">Heroes Database </a></li>
                <li><span>03</span> <a href="https://www.reddit.com/r/SWGalaxyOfHeroes/" target="_blank">Visit the
                        Subreddit!</a></li>
                <li><span>04</span> <a href="https://swgohevents.com/" target="_blank">Previous and upcoming Events</a>
                </li>
            </ul>
            <hr>
            <footer>
                <a href="*">Help</a>
                <a href="*">Status</a>
                <a href="*">Writers</a>
                <a href="*">Blog</a>
                <a href="*">Career</a>
                <a href="*">Privacy</a>
                <a href="*">Terms</a>
                <a href="*">About</a>
            </footer>
        </div>
    </section>

</main>

<% include partials/footer %>